
@media all and (min-width: 500px) {
  .large-screen-only {
    display: block;
  }

  .small-screen-only {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .large-screen-only {
    display: none;
  }

  .small-screen-only {
    display: block;
  }
}

.user-state-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  text-align: center;
  gap: 50px;
}

.version {
  font-size: small;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form input, .user-form button {
  text-align: center;
  margin: 0.5em;
}

.password-forgotten {
  font-size: 12px;
}

.error {
  color: tomato;
  font-weight: bold;
  white-space: pre-line;
}

.info {
  color: forestgreen;
  font-weight: bold;
  white-space: pre-line;
}

.user-state {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.user-actions {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.user-action {
  display: inline-flex;
}

.turns-group {
  border-style: double ;
  border-radius: 10px;
}

#turn-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 500px;
}

.turn-form-input {
  box-sizing:border-box;
}

#main-title {
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
  margin-bottom: 0px;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: lightblue;
}

button {
  border-radius: 10px;
  border-style: double;
  padding: 10px;
  font-size: 15px;
  background-color: cornflowerblue;
}

#challenges-list-main h5 {
  margin: 0px;
}

#challenges-list {
  margin: auto;
  padding-top: 10px;
}

#challenges-list a {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#turns-list {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  flex-direction: column;
  row-gap: 8px;
}

.raw-result {
  position: fixed;
  top: 30%;
  left: 10%;
  width: 20%;
  white-space: pre-line;
  text-align: left;
  border-radius: 10px;
  border-style: double;
  background-color: cornflowerblue;
  padding: 10px;
}

.share-group {
  width: 100px;
}